.content {
    min-height: 100px;
    max-width: 500px;
    overflow-wrap: break-word;
    color: blue;
    border: 5px solid #636363;
    vertical-align: top;
    text-align: left;
    justify-content: center;
    word-wrap: break-word;
    cursor:text;
}